<p><img src='https://paragpallavsingh.com/wp-content/uploads/2021/05/Parag-Pallav-Talks-300px-about.png' align='left' width=150/></p>


# Python Fundamentals for Beginners
### âœ¨[Parag Palla Talks](https://paragpallavsingh.com)

This notebook contains all the coding examples mentioned in the blog

In [1]:
%%cmd
python --version

Microsoft Windows [Version 10.0.19043.1466]
(c) Microsoft Corporation. All rights reserved.

C:\Users\ppallavs\Downloads\beautifulSoup>python --version
Python 3.9.10

C:\Users\ppallavs\Downloads\beautifulSoup>

In [2]:
a = 10
b = 10.0
c = "Python SEO Fundamentals"
d = True
 
print(
      " data type of a:",type(a),
      "\n","data type of b:",type(b),
      "\n","data type of c:",type(c),
      "\n","data type of c:",type(d),
     )

 data type of a: <class 'int'>
 data type of b: <class 'float'>
 data type of c: <class 'str'>
 data type of c: <class 'bool'>

In [3]:
# This is a comment
print("This is a normal line")

This is a normal line

In [4]:
"""
This is going
to be a multi-line
comment in Python
"""
print("The above 3 lines are ignored")

The above 3 lines are ignored

In [5]:
example_list = ['title','description','header','url','content']
example_tuple = ('ahrefs','semrush','search engine journal','backlinko')
example_set = {'seo','python','content','automation','marketing'}
example_dict = {"name":"author","country":"india","work":"blogging"}
 
print("",
    type(example_list),": ",example_list,"\n",
    type(example_tuple),": ",example_tuple,"\n",
    type(example_set),": ",example_set,"\n",
    type(example_dict),": ",example_dict
    )

 <class 'list'> :  ['title', 'description', 'header', 'url', 'content']
 <class 'tuple'> :  ('ahrefs', 'semrush', 'search engine journal', 'backlinko')
 <class 'set'> :  {'marketing', 'content', 'automation', 'python', 'seo'}
 <class 'dict'> :  {'name': 'author', 'country': 'india', 'work': 'blogging'}

In [6]:
print("Hello Python Fundamentals for SEO and Automation!")

Hello Python Fundamentals for SEO and Automation!

In [7]:
type(3) # verify that this is an integer type

int

typecast 3 into float and check again

In [8]:
type(float(3))

float

In [9]:
int(3.6)

3

In [10]:
int('1 two')

ValueError: invalid literal for int() with base 10: '1 two'

In [11]:
#example 1
40 + 16 + 7 + 8

71

In [12]:
#example 2
distance = 200
time = 3
speed = distance/time
print("speed: ",round(speed,2),"km/h")

speed:  66.67 km/h

In [13]:
Maths = 30
Science = 49
Computer = 46
 
Average = (Maths + Science + Computer)/3
print(round(Average,2))

41.67

In [14]:
str_digits = "1 2 3 4 5"
str_sp_ch = "!@#$%^&"
str_alpha = "this is an ideal string"
str_al_num_sc = "hY8r!d $+r!n6"

print(str_digits)
print(str_sp_ch)
print(str_alpha)
print(str_al_num_sc)

1 2 3 4 5
!@#$%^&
this is an ideal string
hY8r!d $+r!n6

In [16]:
Name = "Michael Jackson"
 
print(Name[0]) # print first element in the string i.e. M
 
print(Name[8]) # print J
 
print(Name[-2]) # print o

M
J
o

In [17]:
len(Name)

15

In [18]:
first_name = Name[0:7]
last_name = Name[8:15]

In [19]:
print(first_name)
print(last_name)

Michael
Jackson

In [20]:
str1 = "Learn Python SEO"
str2 = "from scratch"
str3 = str1 + " " + str2 
print(str3)

Learn Python SEO from scratch

In [21]:
#list containing marks of 5 subjects
marks = [36, 44, 49, 43, 42] 
 
#data type of a variable containing a group of objects within [ ].
print(type(marks)) #output: <class 'list'>

<class 'list'>

In [22]:
#list of subjects
subjects = ['maths','physics','biology','chemistry','english']
print(subjects)

['maths', 'physics', 'biology', 'chemistry', 'english']

In [23]:
#list of popular blogs
blogs = ['semrush','ahrefs','hoth','neilpatel','backlinko']
print(blogs)

['semrush', 'ahrefs', 'hoth', 'neilpatel', 'backlinko']

In [24]:
#list containing items of different data type
mix_list = [3, ['a','b'], 'learn', '$','P','y','t','h','o','n']
print(mix_list)

[3, ['a', 'b'], 'learn', '$', 'P', 'y', 't', 'h', 'o', 'n']

In [25]:
#taking blogs list from last example and printing the second blog name
blogs[1]

'ahrefs'

In [26]:
#getting 2nd blog from the end of the list
blogs[-2]

'neilpatel'

In [27]:
#print the length of mix_list from above example
print(len(mix_list))

10

In [28]:
arr = [ 1,2,3,4,5,6,7]
 
print(arr[0:4])

[1, 2, 3, 4]

In [29]:
print(arr[0:7:2])

[1, 3, 5, 7]

In [30]:
print(arr[:6])

[1, 2, 3, 4, 5, 6]

In [31]:
print(arr[2::2])

[3, 5, 7]

In [32]:
year = [2017,2018,2020,2020,2021,2022] 
year[2] = 2019 #value at position 2 modified to 2019
print(year)

[2017, 2018, 2019, 2020, 2021, 2022]

In [33]:
colors = ['red', 'c', 'python', 'java', 'black', 'orange',]
colors[1:4] = ['white', 'brown', 'green'] #replace items in range(1,4)
print(colors)

['red', 'white', 'brown', 'green', 'black', 'orange']

In [34]:
list1 = ['2000','2001','2002']
list2 = ['2020','2021','2022']
list3 = list1+list2
print(list3)

['2000', '2001', '2002', '2020', '2021', '2022']

In [35]:
items = ['prefix', 'url', 'suffix', 'get', 'post', 'send', 'receive']
href = items[:3]
data = items[3:]
print(href) #output: ['prefix', 'url', 'suffix']
print(data) #output: ['get', 'post', 'send', 'receive']

['prefix', 'url', 'suffix']
['get', 'post', 'send', 'receive']

In [36]:
dict = {
"name":"author",
"country":"india",
"language":['English', 'Hindi'],
"name":"maxx"
}
print(dict)

{'name': 'maxx', 'country': 'india', 'language': ['English', 'Hindi']}

In [37]:
len(dict)

3

In [38]:
print(dict['name'])
print(dict.get('name'))

maxx
maxx

In [39]:
print(dict.keys())

dict_keys(['name', 'country', 'language'])

In [40]:
print(dict.values())

dict_values(['maxx', 'india', ['English', 'Hindi']])

In [41]:
print(dict.items())

dict_items([('name', 'maxx'), ('country', 'india'), ('language', ['English', 'Hindi'])])

In [42]:
dict['position'] = 'CEO' #this will add a new key 'position'
 
dict.update({'name':'admin'}) #this will update the value of 'name'

print(dict)

{'name': 'admin', 'country': 'india', 'language': ['English', 'Hindi'], 'position': 'CEO'}

In [43]:
print(dict['name'])
print(dict.get('name'))

admin
admin

In [44]:
x = 20
y = 30
if y > x: #indented code will get executed if "y>x"
    print(y-x)

10

In [45]:
x = 200
y = 30
if y > x: #indented code will get executed if "y>x"
    print(y-x)
else:     #else block runs when the above condition fails
    print("y is smaller than x")

y is smaller than x

In [46]:
#Try the program using different values for num variable
 
height = -3
 
if height > 5:
    print('Tall')
elif height <=5 and height >3:
    print('Medium')
else:
    print('short')

short

In [47]:
var = 1           #initialize a variable
while var<=10:    #Test if condition is true
    print(var)    #perform statement 1
    var += 1      #perform statement 2

1
2
3
4
5
6
7
8
9
10

In [50]:
#example 1: TO print all the items inside a list
websites = ['geeksforgeeks','tutorialspoint','javatpoint','programiz']
for item in websites:
    print(item) #print all the list items

geeksforgeeks
tutorialspoint
javatpoint
programiz

In [51]:
#example 2: To print the square of items in a given range
for i in range(1,10):
    print(i*i) #print the squares of 1 to 9

1
4
9
16
25
36
49
64
81

In [53]:
#function1: no argument passed
def show_title():
    print("Python SEO Beginners Tutorial")

show_title() #output: Python SEO Beginners Tutorial

Python SEO Beginners Tutorial

In [54]:
#function2: with two arguments of type string
def fullname(fname,lname):
    print(fname+" "+lname)
    
fname = "J K"
lname = "Rowling"
fullname(fname,lname) #output:J K Rowling

J K Rowling

In [55]:
class Car:  #define a Car object, its attributes and behavior
    #defining object attributes
    def __init__(self, year, make, price):
        self.year = year
        self.make = make
        self.price = price
        
    #defining object method
    def details(self):
        print(str(self.year)+" "+self.make+" "+str(self.price))

car1 = Car(2019,"Toyota",1000000) #make aobject instance of class Car
print(car1.year)
print(car1.make)
print(car1.price)
print(car1.details())

2019
Toyota
1000000
2019 Toyota 1000000
None

In [56]:
name = input("Enter name of employee:")
print(name)

Enter name of employee:Pythonwa
Pythonwa

## More Useful Python SEO Resources

1. [W3Schools Python Tutorials](https://www.w3schools.com/python/): To get in-depth knowledge of Python Language
2. [Holistic SEO](https://www.holisticseo.digital/python-seo/) by Koray TuÄŸberk GÃœBÃœR: In-depth Python SEO Blog
3. [Elias Dabbas](https://twitter.com/eliasdabbas): For Data Science, Search Marketing. Check out his [Github Repository](https://github.com/eliasdabbas)
4. [JC Chouinard](https://www.jcchouinard.com/python-for-seo/): For Python SEO Learning


Special mention: [Python Updates for SEO](https://paragpallavsingh.com/tag/python/): To get latest Python updates on my blogðŸ˜….